@import "tailwindcss";

@font-face {
    font-family: 'Andenver';
    src: url("/Andenver.ttf") format("truetype");
}

@theme{
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'DM-Sans', sans-serif;
    --font-logo: 'Andenver', sans-serif;
    --color-primary: #FF0048;
    --color-light: #F8F7ED;
    --color-dark: #09050C;
}


@custom-variant dark (&:where(.dark, .dark *));
